body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    text-align: center;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #a83b27;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 12px;
}

h1 {
    font-size: 64px;
    color: #bdb4ae;
}

h2 {
    color: #9a928d;
}

svg {
    border: 1px solid #222222;
    display: block;
    margin: auto;
    margin-top: 24px;
}

footer {
    margin-top: 24px;
    min-height: 4em;
    background-color: #a83b27;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}