body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    text-align: left;
    background-color: #a83b27;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    height: 100vh;
}

#title {
    padding-left: 100px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#subtitle {
    padding-left: 100px;
    grid-column: 1 / 4;
    grid-row: 3;
}

ul {
    font-size: 32px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-left: -20px;
}

li:before {
    content: "# ";
    color: #bdb4ae;
}

li:hover {
    text-decoration: underline;
}

#contents {
    color: #9a928d;
    grid-column: 3;
    grid-row: 1 / 3;
}

h1 {
    font-size: 86px;
    color: #bdb4ae;
}

h2 {
    font-size: 44px;
    color: #9a928d;
}

h3 {
    font-size: 38px;
}

p {
    padding: 50px;
    width: 60%;
    margin: 0 auto;
}

svg {
    border: 1px solid #222222;
    display: block;
    margin: auto;
    margin-top: 24px;
}

footer {
    margin-top: 24px;
    min-height: 4em;
    background-color: #a83b27;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 970px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #title, #subtitle, #contents {
        padding: 0;
        margin: 0 auto;
    }

    #subtitle {
        text-align: center;
    }
}